<header>
    <h2> ▲I 𝗦INGULARITY </h2>
    <h2 class="petitionText">PETITION</h2>
</header>
<section>
    <div>
        <img class="HALcoreImg" src="/images/HALcore.jpg" alt="HALcoreImg" />
    </div>
    <div>
        <p class="enterSignatureText">Here you can edit your profile:</p>
    </div>
    <div>
        <form method="POST">
            <div style="text-align:center;">
                {{#if error}}
                    <span id="error">Uh oh, something went wrong. Please try again!</span>
                {{/if}}
                {{#if accountAlreadyRegistrated}}
                <div>
                    <br>
                    <span id="error">Mmh, it looks like an account is already registered with this email.</br>Please try with another one.</span> 
                    <br><br><br>
                    <button><a id="buttonBack" href="/edit">Refresh Page</a></button>
                </div>
                {{/if}}
            </div>
            <div id="inputNamesContainer">
                {{#rows}}
                    <input
                        type="text"
                        name="first"
                        placeholder="First Name"
                        autocomplete="off"
                        value="{{first}}"
                    />
                    <input
                        type="text"
                        name="last"
                        placeholder="Last Name"
                        autocomplete="off"
                        value="{{last}}"
                    />
                    <input
                        type="email"
                        name="email"
                        placeholder="Email Address"
                        autocomplete="off"
                        value="{{email}}"
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        autocomplete="off"
                        value="{{password}}"
                    />
                    <input
                        type="number"
                        name="age"
                        placeholder="Age"
                        autocomplete="off"
                        value="{{age}}"
                        min="18"
                        max="99"
                    />
                    <input
                        type="text"
                        name="city"
                        placeholder="City"
                        autocomplete="off"
                        value="{{city}}"
                    />
                    <input
                        type="url"
                        name="url"
                        placeholder="Homepage Url"
                        autocomplete="off"
                        value="{{url}}"
                    />
                {{/rows}}
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            </div>
            {{#unless accountAlreadyRegistrated}}
            <div>
                <button><a id="buttonBack" href="/thanks">BACK</a></button>
                <button id="buttoUpdate"> UPDATE </button>
            </div>
            {{/unless}}
        </form>
    </div>
</section>